.header {
    border-bottom: 1px solid #ececec;
    position: relative;
    
    &__container {
        display: flex;

        @media screen and (max-width: 767px) {
            justify-content: space-between;
        }
        
        @media screen and (max-width: 767px) {
            position: relative;
        }
    }

    &__wrapper {
        display: flex;
        
        @media screen and (min-width: $desctop) {
            justify-content: space-between;
        }

        @media screen and (max-width: 767px) {
            display: none;
            width: 100%;
            background-color: #ffffff;
            padding: 48px 40px;
        }
    
        &.is-open {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            justify-content: space-between;
        }
        z-index: 50;
    }
}

.logo {
    display: inline-block;
    padding: 15px 0;

    color: $logo-color;

    font-family: $raleway;
    @include font(24px, 700, 1.16, 0.03em);

    &__part {
        color: $accent-color;
    }

    @media screen and (min-width: $tablet) {
        padding: 26px 0;
    }

    @media screen and (min-width: $desctop) {
        @include font(26px, 700, 1.19, 0.03em);
    }
}

.menu {
    @media screen and (max-width: 767px) {
        margin-bottom: 302px;
    }

    @media screen and (min-width: $tablet) {
        margin-left: 88px;
    }

    @media screen and (min-width: $desctop) {
        margin-left: 93px;
    }

    &__list {
        @media screen and (min-width: $tablet) {
            margin-right: 120px;
        }

        @media screen and (min-width: $desctop) {
            margin-right: 306px;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
            justify-content: space-between;
        }

        @media screen and (min-width: $tablet) {
            display: flex;
        }
    }
        
    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }
    
        @media screen and (min-width: $tablet) {
            margin-right: 30px;
        }

        @media screen and (min-width: $desctop) {
            margin-right: 50px;
        }
    }
 
    &__link {
        color: $brand-color;
        @include font(40px, 500, 1.17, 0.02em);
        padding: 0;

        display: inline-block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @extend %hover-focus;
        z-index: 40;

        @media screen and (min-width: $tablet) {
            @include font(14px, 500, 1.1, 0.02em);
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    &__link.current {
        color: $accent-color;
        @media screen and (min-width: $tablet) {
            position: relative;
        }  
    }

    &__link.current::after {
        @media screen and (min-width: $tablet) {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -33px;
            left: 0;
            background-color: $accent-color;
            border-radius: 4px;
        }

        @media screen and (min-width: $desctop) {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -37px;
            left: 0;
            background-color: $accent-color;
            border-radius: 4px;
        }
    }

    &__button {
        display: flex;
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: transparent;

        &.is-open {
            position: fixed;
            top: 0;
            right: 0;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

/* subsection contacts */

.contact {
    display: flex;

    @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    }
    
    @media screen and (min-width: $desctop) {
        flex-direction: row;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        flex-wrap: wrap;
        flex-basis: 50%;
        align-content: center;
    }

    &__item {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &:nth-child(1) {
                margin-bottom: 10px;
            }
        }

        &:first-child {
            @media screen and (min-width: $desctop) {
                    margin-right: 30px;
                }
        }
    }
    
    &__item:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }
    }

    &__link {
        color: $text-color;

        @media screen and (min-width: $desctop) {
            padding: 32px 0;
        }

        @media screen and (min-width: $tablet) {
            display: flex;
        }
        
        @include font(24px, 500, 1.16, 0.02em);

        @media screen and (min-width: $tablet) {
            @include font(12px, 500, 1.16, 0.02em);
        }

        @media screen and (min-width: $desctop) {
            @include font(14px, 500, 1.14, 0.02em);
        }
 
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        @extend %hover-focus;
    }

    &__link--color {
        @media screen and (max-width: 767px) {
            @include font(34px, 500, 1.17, 0.02em);
            color: $accent-color;
        }
    }

    &__icon {
        fill: currentColor;
        
        @media screen and (min-width: $tablet) {
            margin-right: 8px;
        }

        @media screen and (min-width: $desctop) {
            margin-right: 10px;
        }
    }
}

.header-social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 64px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-social__item {
    color: $accent-color;
    @include font(18px, 500, 1.2, 0.02em);
    
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

    &:not(:first-child) {
        padding-left: 10px;
    }
}

.menu__button {
    padding-top: 10px;
    padding-bottom: 10px;
    
    &:focus {
        fill: $accent-color;
    }

    &.is-open {
        position: fixed;
        top: 0;
        right: 3%;
    }
    z-index: 51;
}

.menu__button .icon-mobile-close {
    display: none;
}

.menu__button.is-open .icon-mobile-close {
    display: block;
}

.menu__button.is-open .icon-mobile-open {
    display: none;
}


.header__wrapper.is-open .contact__icon {
    display: none;
}
