.header {
    border-bottom: 1px solid #ececec;
    
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        
        @media screen and (max-width: 767px) {
            display: none;
            width: 100%;
            background-color: #ffffff;
            padding: 48px 40px;
        }
    
        &.is-open {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            justify-content: space-between;
        }
        z-index: 50;
    }
}


.menu {
    &__list {
        margin-bottom: 305px;
    }
    // &__list {
    //     display: flex;
    //     justify-content: space-between;
    // }

    &__item:not(:last-child) {
        @media screen and (max-width: $tablet) {
            margin-bottom: 32px;
        }
    }
    // &__item:not(:last-child) {
    //     margin-right: 50px;
    // }

    &__link {
        color: $brand-color;
        @include font(40px, 500, 1.17, 0.02em);
        padding: 0;
        // @include font(14px, 500, 1.1, 0.02em)
        

        display: inline-block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @extend %hover-focus;
        z-index: 40;
    }

    &__link.current {
        color: $accent-color;
        @media screen and (min-width: $tablet) {
            position: relative;
        }  
    }

    &__link.current::after {
        @media screen and (min-width: $tablet) {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -2px;
            left: 0;
            background-color: $accent-color;
            border-radius: 4px;
        }
    
    }

    &__button {
        display: flex;
        margin: 0px;
        padding: 0px;
        border: none;
        background-color: transparent;

        &.is-open {
            position: fixed;
            top: 0;
            right: 0;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    // &__container {

    // }
}

.logo {
    display: inline-block;
    padding: 15px 0;

    color: $logo-color;

    font-family: $raleway;   
    @include font(24px, 700, 1.16, 0.03em);
    
    &__part {
        color: $accent-color;
    }
}


// .logo__part {
//     color: $accent-color;
// }

// .menu__list {
//     display: flex;
//     margin: 0;
// }

// .menu__item:not(:last-child) {
//     margin-right: 50px;
// }

// .menu__link {
//     color: $brand-color;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 1.1;
//     letter-spacing: 0.02em;

//     display: inline-block;
//     padding: 32px 0;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .menu__link:hover,
// .menu__link:focus {
//     color: $accent-color;
// }

// .menu__link.current {
//     color: $accent-color;
//     position: relative;
//     @extend %after
// }

/* subsection contacts */

.contact {
    display: flex;
    flex-direction: column-reverse;
    
    // &.is-open {
    //     // position: fixed;
    //     // top: 0;
    //     // right: 0;
    // }

    @media screen and (min-width: $tablet) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }

    @media screen and (min-width: $desctop) {
        // flex-direction: row;
        
    }

    // &__item:first-child {
    //     margin-right: 30px;
    // }

    &__item:not(:first-child) {
        margin-bottom: 32px;
    }

    &__link {
        color: $text-color;
        
        @include font(24px, 500, 1.16, 0.02em);
    

        // padding: 32px 0;
    
        // display: flex;
        
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        @extend %hover-focus;
    }

    &__link--color {
        @include font(34px, 500, 1.17, 0.02em);
        color: $accent-color;
    }

    &__icon {
        fill: currentColor;
        margin-right: 10px;
    }
}

// .contact__item:first-child {
//     margin-right: 30px;
// }

// .contact__link {
//     color: $text-color;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 1.1;
//     letter-spacing: 0.02em;

//     padding: 32px 0;

//     display: flex;
//     align-items: center;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .contact__link:hover,
// .contact__link:focus {
//     color: $accent-color;
// }

// .contact__icon {
//     fill: currentColor;
//     margin-right: 10px;
// }

.header-social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 64px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-social__item {
    color: $accent-color;
    @include font(18px, 500, 1.2, 0.02em);
    
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

    &:not(:first-child) {
        padding-left: 10px;
    }
}

.menu__button {
    padding-top: 10px;
    padding-bottom: 10px;
    
    &:focus {
        fill: $accent-color;
    }

    &.is-open {
        position: fixed;
        top: 0;
        right: 3%;
    }
    z-index: 51;
}

.menu__button .icon-mobile-close {
    display: none;
}

.menu__button.is-open .icon-mobile-close {
    display: block;
}

.menu__button.is-open .icon-mobile-open {
    display: none;
}


.header__wrapper.is-open .contact__icon {
    display: none;
}