.feature__list {
    margin: 0;
}

.feature__item {
    // width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

// .feature__item:not(:last-child) {
//     margin-right: 30px;
// }

.feature__box {
    // @extend %flex-center;

    height: 120px;
    background-color: $button-color;

    border-radius: 4px;
}

.feature__subtitle {
    @include font(14px, 700, 1.14, 0.03em);

    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 10px;
}

.feature__text {
    color: $text-color;

    @include font(14px, 400, 1.71, 0.03em);

    margin: 0;
    padding: 0;
}