.hero {
    margin: 0 auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: $desctop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__container {
        text-align: center;
    }

    &__title {
        @media screen and (min-width: $desctop) {
            @include font(44px, 900, 1.36, 0.06em);
        }
        color: $background-color;
        text-transform: uppercase;
        @include font(26px, 900, 1.61, 0.06em);
        margin-bottom: 30px;
    }

    &__button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0;

        &:hover,
        &:focus {
            background-color: $background-color;
            color: $accent-color;
        }
    }
}

// .hero__container {
//     text-align: center;
// }

// .hero__title {
//     color: $background-color;
//     font-size: 44px;
//     font-weight: 900;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;

//     margin-bottom: 30px;
// }

// .hero__button {
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .hero__button:hover,
// .hero__button:focus {
//     background-color: $background-color;
//     color: $accent-color;
// }

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        &.modal {
            transform: translate(0);
        }
    }
}

// .backdrop.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
// }

// .backdrop.is-hidden .modal {
//     transform: translate(0);
// }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    max-width: 450px;
    width: 100%;
    max-height: 609px;
    height: 100%;

    @media screen and (min-width: $desctop ) {
        max-width: 528px;
        width: 100%;
    }

    background-color: $background-color;
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__title {
        @include font(20px, 700, 1.15, 0.03em);

        text-align: center;

        margin-bottom: 12px;
    }

    &__button {
        cursor: pointer;

        position: absolute;
        top: 8px;
        right: 8px;

        @extend %flex-center;

        width: 30px;
        height: 30px;

        margin: 0;

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: inherit;
    }
    
    &__button:hover &__icon,
    &__button:focus &__icon {
        fill: $accent-color;
    }

    &__icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

// .modal__title {
//     font-size: 20px;
//     line-height: 1.15;
//     font-weight: 700;
//     letter-spacing: 0.03em;

//     text-align: center;

//     margin-bottom: 12px;
// }

// .modal__button {
//     cursor: pointer;
    
//     position: absolute;
//     top: 8px;
//     right: 8px;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     width: 30px;
//     height: 30px;

//     margin: 0;

//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 50%;
//     background-color: inherit;
// }

// .modal__button:hover .modal__icon,
// .modal__button:focus .modal__icon {
//     fill: $accent-color;
// }

// .modal__icon {
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

/* modal-form */

.form__item {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

// .form__item:not(:last-child) {
//     margin-bottom: 10px;
// }

.form__label {
    text-align: left;
    margin-bottom: 4px;

    @include font(12px, 400, 1.16, 0.01em);

    color: $text-color;
}

.form__input {
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 10px 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.form__input--comment {
    height: 120px;
    padding: 12px 16px;

    @include font(12px, 400, 1.16, 0.01em);

    resize: none;
}

// .form__input:hover,
// .form__input:focus {
//     border: 1px solid $accent-color;
// }

.form__input:hover~.form__icon,
.form__input:focus~.form__icon {
    fill: $accent-color;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
    margin-bottom: 30px;
    margin-top: 20px;

    &__label {
        @extend %flex-center;

        @include font(12px, 400, 1.16, 0.03em);
        
        @media screen and (min-width: $desctop) {
            @include font(14px, 400, 1.71, 0.03em);
        }
    
        color: $text-color;
    }

    &__input {
        appearance: none;
    }

    &__box {
        @extend %flex-center;
    
        border: 2px solid #000000;
        border-radius: 2px;
        width: 16px;
        height: 15px;
    
        margin-right: 7px;
    }

    &__input:checked+&__box {
        background-color: $accent-color;
        border-color: $accent-color;
    }

    &__link {
        color: $accent-color;
        text-decoration: underline;
    }
}

// .agreement__label {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 14px;
//     line-height: 1.71;
//     font-weight: 400;
//     letter-spacing: 0.03em;

//     color: $text-color;
// }

// .agreement__input {
//     appearance: none;
// }

// .agreement__box {
//     @extend %flex;

//     border: 2px solid #000000;
//     border-radius: 2px;
//     width: 16px;
//     height: 15px;

//     margin-right: 7px;
// }

// .agreement__input:checked+.agreement__box {
//     background-color: $accent-color;
//     border-color: $accent-color;
// }

// .agreement__link {
//     color: $accent-color;
//     text-decoration: underline;
// }

.form__button {
    width: 200px;
    height: 50px;
    padding: 0;
    margin-bottom: 19px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}