.action {
    padding-top: 0;

    &__title {
        @include font(36px, 700, 1.16, 0.03em);

        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;
    }

    &__item {
        width: calc((100% - 2 * 30px) / 3);
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__image {
        display: flex;
    }

    &__label {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        padding: 27px 0;
        text-align: center;
    
        background-color: rgba(47, 48, 58, 0.8);
        color: $background-color;
    
        @include font(14px, 700, 1.14, 0.03em);

        text-transform: uppercase;
    }
}