.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    min-width: 200px;
    min-height: 50px;
    padding: 10px 10px;
    
    background-color: $accent-color;
    color: $background-color;

    border-radius: 4px;
    cursor: pointer;
    
    margin-left: auto;
    margin-right: auto;
    
    font-family: inherit;
    @include font(16px, 700, 1.87, 0.06em);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desctop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: $mobile) {
        max-width: 480px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }
    
    @media screen and (min-width: $desctop) {
        max-width: 1200px;
    }
}

%hover-focus:hover,
%hover-focus:focus {
    color: $accent-color;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
